<div class="learn animated fideInRight">
	<div class="plus">+</div>
	{{if page > 1}}
	<a class="pre pn learn-pn" data-page="{{page - 1}}">&lt</a>
	{{/if}}

	{{if page < pageCount}}
	<a class="next pn learn-pn" data-page="{{page + 1}}">&gt</a>
	{{/if}}
	<div class="popup rich">
		<form class="learn_form">
			<span class="cancel">X</span>
			<div class="title_div">
				<label for="title">标题</label>
				<input type="text" id="title" name="title" placeholder="学习心得">
			</div>
			<div class="rich-editor-container">

			</div>
			<div>
				<button class="btn">提交</button>
			</div>
		</form>
	</div>
	<div class="container padding_top_120 learn_div">
		<ul class="learn_ul">
		    {{each learn as item}}
			<li class="learn-item">
				<a class="learn-item-a" data-id={{item._id}}>
		            <span class="tip">{{item.title}}</span>
		            <span class="date">{{item.date}}</span>
	            </a>
	            <div class="content" data-click="1">
	            	{{#item.content}}
					
	            </div>
	        </li>
        	{{/each}}
		</ul>

	</div>
</div>
