<div class="life animated fideInRight">
	<div class="plus">+</div>

	{{if page > 1}}
	<a class="pre pn life-pn" data-page="{{page - 1}}">&lt</a>
	{{/if}}

	{{if page < pageCount}}
	<a class="next pn life-pn" data-page="{{page + 1}}">&gt</a>
	{{/if}}

	<div class="popup">
		<form class="life_form" action="/life/photo" multipart/form-data>
			<h3 class="title">生活点滴</h3>
			<span class="cancel">X</span>
			<div class="img_div">
				<div class="popup_img"><img src="/img/plus.jpg" alt="" /></div>
				<input type="file" name="photo" id="photo" required accept=".jpg,.png"/>
			</div>
			<input type="text" name="tip" id="tip" placeholder="一句话" required="required"/>
			<div>
				<button class="btn" id="life_submit">保存</button>
			</div>
		</form>
	</div>
	<div class="container padding_top_120 life_div">
		<ul>
			{{each life as item}}
			<li class="life-item">
	            <img class="img" src="{{item.photo}}" />
	            <p class="tip">{{item.tip}}</p>
	            <p class="date">——{{item.date}}</p>
	        </li>
        	{{/each}}
		</ul>




	</div>
</div>